{{!--
Partial: Footer content
@author zkreations
--}}
<div class='footer-inner'>

  {{!-- Logo + description --}}
  <div class='footer-logo-block'>
    <b:if cond='data:skin.vars.c_footerLogo'>
      <a class='footer-logo' expr:href='data:blog.homepageUrl'>
        <img expr:alt='data:blog.title' expr:src='data:skin.vars.c_footerLogo'/>
      </a>
    <b:else/>
      <div class='footer-title'>
        <a expr:href='data:blog.homepageUrl'>
          <data:blog.title/>
        </a>
      </div>
    </b:if>
    <b:if cond='data:skin.vars.c_footerDescription'>
      <p class='footer-description'><data:skin.vars.c_footerDescription/></p>
    </b:if>
  </div>

  <hr class="footer-hr" />

  {{!-- Link columns --}}
  <b:section id='footer-links' class='footer-links' showaddelement='yes'>
  </b:section>

  {{!-- Copyright --}}
  <div class='footer-copyright'>
    Copyright {{currentYear}} <data:blog.title/>. <a href="https://github.com/zkreations/hamlet">made with Hamlet</a> - Powered by Blogger.
  </div>

</div>
